body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  height: 4vh;
  border: solid #ececec 1px;
  border-radius: 5px;
}

#heading {
  color: #555555;
  margin: 0vw;
  padding-left: 1vw;
}

#divider {
  color: #00b4f5;
  border: 0.5px solid;
}

#details {
  border: 0.1vw solid #ececec;
}

#name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-details,
#currency-details,
#submission-button {
  padding: 2vw;
}

#name > label {
  width: 47%;
}

#name > label > input {
  width: 98%;
}

#user-details > label > input {
  width: 99%;
}

#submission-button,
#currency-details {
  background-color: #f8f8f8;
}

#currency-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#currency-details > label {
  width: 47%;
}

#currency-details > label > input {
  width: 98%;
}

#submission-button {
  display: flex;
  justify-content: center;
}

#submission {
  background: #0178a2;
  border: 0px solid;
  color: #ffffff;
  border-radius: 5vw;
  font-size: 2vw;
  padding: 1vw 5vw;
}
