/* Body styling which is to be set for all the pages loaded */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3vw;
}

/* Setting the cursor for all the buttons  */
button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styling for all the input fields */
input {
  height: 4vh;
  border: solid #ececec 1px;
  border-radius: 5px;
}

/* Styling for all the labels */
label {
  display: block;
  margin-top: 1%;
  color: #555555;
}

/* Styling for all the select */
select {
  color: #555555;
}

/* Styling for the header of the Quick Quote page */
#heading {
  color: #555555;
  margin: 0vw;
  padding-left: 1vw;
}

#divider {
  color: #00b4f5;
  border: 0.5px solid;
}

/* Styling for the form */
#details {
  border: 0.1vw solid #ececec;
}

#name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-details,
#currency-details,
#submission-button {
  padding: 1vw 2vw;
}

#name > label {
  width: 48%;
}

#name > label > input {
  width: 98%;
}

#user-details > label > input {
  width: 99%;
}

#submission-button,
#currency-details {
  background-color: #f8f8f8;
}

#currency-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#currency-details > label {
  width: 48%;
}

#currency-details > label > select {
  width: 98%;
  height: 4vh;
  border: solid #ececec 1px;
  border-radius: 5px;
}

#submission-button {
  display: flex;
  justify-content: center;
}

#submission {
  background: #0178a2;
  border: 0px solid;
  color: #ffffff;
  border-radius: 5vw;
  font-size: 1vw;
  padding: 1vw 5vw;
}

.required {
  color: red;
}

.PhoneInput {
  justify-content: space-around;
}

.PhoneInput > input {
  width: 94%;
}

.PhoneInputInput {
  flex: initial !important;
  min-width: initial;
}

/* Styling for the Output shown on "Get Quote" */
#output {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1vw 2vw;
  border: 0.1vw solid #ececec;
}

#output > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#output > div > h1 {
  margin: 0 0 0.67em 0;
}

#output > div > h2,
h1 {
  color: #555555;
}

#customer-rate-details > h1 {
  color: #06cf8c;
}

.amount {
  color: #0178a2;
}
